body {
  background: #6f5499;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  color: #fff;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
    border-top: 1px solid #563d7c;
}


h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.icon {
    padding: 1em 0;
    height: 200px;
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
}

.icon .display-icon {
    font-size: 40px;
}

.icon .icon-name {
    font-size: 14px;
    height: 50px;
    padding: 0 0.2em;
}

.icon .icon-name code {
    background-color: #6f5499;
    color: #fff;
    font-size: 12px;    
    width: 100px;
}

.icon .display-icon, .icon .display-icon:before {
    content: ""!important;
}

.icon .display-icon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu li {
    margin: 2px 0;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.copy-button code {
    width:140px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

button.icon-copy {
    font-size: 12px;
}

