body {
  background: #6f5499;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 75px;
  color: #fff;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
    border-top: 1px solid #563d7c;
}


h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.cheatsheet-title {
    text-align: center;
}

.cheatsheet-version {
    float: right;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    top: 25px;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.icon {
    padding: 1em 0;
    height: 200px;
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
}

.icon .display-icon {
    font-size: 40px;
}

.icon .icon-name {
    font-size: 14px;
    height: 50px;
    padding: 0 0.2em;
}

.icon .icon-name code {
    background-color: #6f5499;
    color: #fff;
    font-size: 12px;    
    width: 100px;
}

.icon .display-icon, .icon .display-icon:before {
    content: ""!important;
}

.icon .display-icon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu li {
    margin: 8px 0;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.copy-button code {
    width:140px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    padding: 2px 4px 1px 4px;
    font-size: 12px;
    
}

button.icon-copy {
    font-size: 12px;
}

.ad-break {
    padding-bottom: 20px;
    border-bottom: 1px solid #563d7c;
    height: 110px;
}

.ad-break-top {
    padding-bottom: 20px;
    height: 110px;
}




.navbar {
    font-family: Varela Round, arial, sans-serif;
}
.navbar-brand {
    font-size: 11px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: normal;
    padding: 0 10px;
}
.navbar-form {
    margin-right: 5px;
    margin-top: 13px;
}				
.navbar ul.navbar-nav li>a {
    font-family: Varela Round, arial, sans-serif;
    font-size: 12px;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    padding-top: 20px;
}
.navbar ul.navbar-nav li.nav-search {
    width:250px;
    margin: 12px 10px;
}

ul.nav ul.dropdown-menu li a {
    padding-top: 0px;
    line-height: auto;
}
ul.nav ul.dropdown-menu>.active>a, ul.nav ul.dropdown-menu>.active>a:hover, ul.nav ul.dropdown-menu>.active>a:focus {
    background-color: #ebebeb;
    color: #696969;
}

.nav-contain {
    max-width: 1030px;
    padding: 0 0 0 20px;
}

.about {
    padding: 30px 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #ebebeb;
    background-color: #ebebeb;
    font-size: 19px;
    color: #696969;
    display: none;

}